<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.polypath">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PolyPath"
        tools:targetApi="31">
        <activity
            android:name=".KoreanScoreResults"
            android:exported="false" />
        <activity
            android:name=".KoreanLanguage6"
            android:exported="false" />
        <activity
            android:name=".KoreanLanguage5"
            android:exported="false" />
        <activity
            android:name=".KoreanLanguage4"
            android:exported="false" />
        <activity
            android:name=".KoreanLanguage3"
            android:exported="false" />
        <activity
            android:name=".loginButton"
            android:exported="false" />
        <activity
            android:name=".spainlanguage"
            android:exported="false" />
        <activity
            android:name=".koreanlanguage"
            android:exported="false" />
        <activity android:name=".KoreanLanguage2" />
        <activity
            android:name=".japanlanguage"
            android:exported="false" />
        <activity
            android:name=".italylanguange"
            android:exported="false" />
        <activity
            android:name=".chinalanguage"
            android:exported="false" /> <!-- Main launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other activities -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />
        <activity android:name=".CountryListActivity" />
    </application>

</manifest>